# Google Tag Manager
NEXT_PUBLIC_GTM_ID=GTM-MCQ5KLGJ

# Google Search Console (adicione o código de verificação no layout.tsx)
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=4jKcr_PKRSEBdryewoKfWVgvOMSCAaVzAGP1qNG2Jks

# n8n Webhook - Integração de Formulário
N8N_WEBHOOK_URL=https://n8n.basisaceleradora.com.br/webhook-test/seu-webhook-id-aqui

# Base URL do site (para SEO)
NEXT_PUBLIC_SITE_URL=https://basisaceleradora.com.br



# Informações da Empresa (para Schema.org)
NEXT_PUBLIC_PHONE=+55-71-9632-6193
NEXT_PUBLIC_CITY=Salvado
NEXT_PUBLIC_STATE=BA
